# Ignore Jupyter configuration files
.jupyter/
.ipython/
.local/share/jupyter/
.local/share/jupyter/runtime/
*.ipynb
# Ignore virtual environment
airflow_venv/
ui_env/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
flask_app.log
# Ignore log files
*-checkpoint.py

# Ignore temporary files
*.swp
*~

# Ignore other unnecessary files
Dockerfile
.dockerignore
README.md

