**/airflow_venv
/ui_env
# requirements.txt
flask_app.log
.gitignore
.git
.ipynb_checkpoints/
**/.ipynb_checkpoints
**/secrets.yaml
# Except for the one in template_folder/scripts
!template_folder/scripts/secrets.yaml

